.listings-cards {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  justify-content: center;
  gap: 30px;
  width: 100%;
  margin-top: 20px;
  padding: 0 40px;
}

@media screen and (max-width: 768px) {
  .listings-cards {
    padding: 0 10px;
    gap: 25px;
  }
}
